/* app css stylesheet */

*{     margin:0; 
        padding:0; 
}
  
.wrapper{
  width:480px;
  margin:0 auto;
  text-align:left;
  background-color: #E1FFFF;
}

body{
    text-align:center; /*For IE6 Shenanigans*/
    background-color: #212E34;
}

.header{
  height:50px;
  background-color: #ACC1C1;
  width: 100%;
}

.header .refresh{  
  float: right;
}

.header .refresh button{
    margin-top: 10px;
  height: 30px; 
}

.today{
  height: 170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.today .advice{
  padding-top: 15px;
  width: 100%;
  font-size: 18px;
}

.today .describe{
  width: 50%;
  float: left;
}

.today .describe .city
{
  padding-top: 15px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.today .describe .weekday
{
  padding-top: 15px;
  width: 100%;
  font-size: 22px;
}

.today .describe .date
{
  padding-top: 15px;
  width: 100%;
  font-size: 20px;
}

.today .weather{
  padding-top: 2em;
  width: 50%;
  float: left;
}

.today .weather .picture{
  width: 50%;
  float: left;
}

.today .weather .picture img{
  margin: 0 auto;
}

.today .weather .temp{
  width: 50%;
  font-size: 55px;
  float: left;
}

.border{
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-top:1px;
  margin-bottom:1px;
}

.nextdays{
  height: 200px;
  width: 100%;
}

.nextdays .advice{
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 18px;
  padding-left: 15px;
}

.nextdays .day{
}

.nextdays .border{
  float: left;
}

.nextdays .day .describe{
  float: left;
  width: 50%;
}

.nextdays .day .weather{
  float: left;
  width: 50%;
  padding-top: 15px;
}

.nextdays .day .describe .weekday
{
  padding-top: 15px;
  width: 100%;
  font-size: 22px;
  padding-left: 15px;
}

.nextdays .day .describe .date
{
  padding-top: 15px;
  width: 100%;
  font-size: 20px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.nextdays .day .weather .picture{
  width: 50%;
  float: left;
}

.nextdays .day .weather .picture img{
  margin: 0 auto;
}

.nextdays .day .weather .temp{
  width: 50%;
  font-size: 55px;
  float: left;
}
















